<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TechTalks</title>
    <link rel="stylesheet" href="../../assets/stylesheets/styles.css">	
</head>
<body id="indexPage">
    <%- include('partials/header.ejs') %>
    <main>
	<div class = "TechTalktext">
        <h4>Welcome to TechTalks! </h4><br><br> 
		<p class="KnowUS">Get to know us!
            Contact Us for more details about the events
        </p>
		<p>Check out the connections section to browse more Tech Info!<p>
	</div>     
    </main>
    
    <%- include('partials/footer.ejs') %>
   
</body>
</html>