<div class = "footer">
    <p id="Copyrightslogo">&copy;TechTalks</p>
    <ul id="footerinfo">
        <li><a style="text-decoration:none" href="../about">ABOUT</a></li>
        <li><a style="text-decoration:none" href="../contact">CONTACT</a></li>
    </ul>
    
</div>
